body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding:30px;
    margin:0;
}
h2{
    text-align: center;
}
img{
    width:120px;
    height:120px;
    border-radius: 50%;
}
.card{
    width:300px;
    background-color: white;
    margin: 25px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
    transition: transform 0.4s ease;
}
.card:hover{
    transform: scale(1.05);
}
#username{
    font-size: 22px;
    color: #333;
}
.btn{
    background-color: #3498db;
    color:white;
    padding:10px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s ease;

}
.btn:hover{
    background-color: #2279b7;
}
.btn:active{
    transform: scale(0.95);
}
.btn:focus{
    outline: 2px solid #000;
}
.status{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: crimson;
    color:white;
    padding:5px 12px;
    border-radius: 20px;
    font-size: 14px;
}
.center{
    text-align: center;
}