header{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}
.main{
    display: flex;
}
.sidebar{
    width: 25%;
    background-color: #ddd;
    padding: 20px;
    float: left;
}
.content{
    width: 75%;
    padding: 20px;
    float: left;
}
.main::after{
    content: "";
    display: block;
    clear: both;
}
@media(max-width:600px){
    .main{
        display:block;
    }
}
.sidebar,
.content{
    width: 100%;
    float: none;
}