/*Heading style */
h1{
    color: brown;

text-align: center;

font-family: Arial, Helvetica, sans-serif;

}
/*Paragraph style*/

p{
   font-size: larger; 

   color:blue ;

   line-height:2.4px ;
}
/*link style*/

a{
    color:chocolate ;
    text-decoration: solid;
}